.background > img {
    height: 350px;
    width: 100%;
}
.header {
    text-align: center;
    position:absolute;
    top:0;
    left:0;
    padding: 5px 5px 5px 5px;
    background-color: #A55BFF;
    color: white;
    width: 100%;
}

.table-format {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

.form-format {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.train-row {
    margin-left: 3%;
}
